# ADDED BY ME
3_auto_restart_AMI_App_with_MongoDB
day3/terraform

day5/1_tf_deploy_app_and_db_custom_VPC_multy_zones_health_check/READ_ext.md

# Terraform files
*.terraform
*.terraform.lock.hcl
*terraform.tfstate
*.terraform.tfstate.lock.info
*terraform.tfstate.backup
*.tfstate.backup

# terraform variable files that are likely to contain sensitive data
terraform.tfvars


# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Abstra
# Abstra is an AI-powered process automation framework.
# Ignore directories containing user credentials, local state, and settings.
# Learn more at https://abstra.io/docs
.abstra/

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore
